[2021-02-04 16:09] rusefillc opened #1 "WBO analysis"
Question: what cases do we have on VAG in terms of number of narrow band sensors and number of wide band sensors per vehicle?

Is there a clearly universal set of pins for a wideband or would we have to have options and jumpers?

[2021-02-04 16:22] rusefillc opened #2 "pin 25 leak detection pump what is this?"

[2021-02-04 16:24] rusefillc opened #3 "pin 17 jetta has two CLT sensors?"

[2021-02-04 16:48] rusefillc opened #4 "what's the deal with VSS?"
where does ECU take VSS? is it a CAN message from some other block?

[2021-02-19 22:34] rusefillc opened #5 "short URL label"
please place http://rusefi.com/s/hellen121vag on the board

[2021-02-21 17:36] #5 closed

[2021-02-21 17:37] rusefillc commented on #3
We are using the one we consider primary and not using pin 17 for now.

[2021-02-21 17:37] #3 closed

[2021-02-22 06:26] rusefillc opened #6 "migrate to MAX992x"
in order to reduce risks we shall migrate to MAX992x VR decoder

[2021-03-03 19:57] rusefillc opened #7 "move *121*sh into this repo"
https://github.com/andreika-git/hellen-boards/blob/master/create_hellen121vag.sh has some critical meta info inside it - that should be part of https://github.com/rusefi/hellen121vag/ repo

i guess all the bash scripts related to a specific board should be located inside the repo for that board.

[2021-03-04 01:11] rusefillc commented on #6
Depends on https://github.com/andreika-git/hellen-one/issues/14

[2021-03-08 22:01] rusefillc commented on #1
nice diagrams do not spell which pin is what function of WBO :(

https://github.com/rusefi/rusefi/wiki/OEM-Docs/VAG/2005_a4_1.8t_1.png

https://github.com/rusefi/rusefi/wiki/OEM-Docs/VAG/2005_a4_1.8t_2.png

https://github.com/rusefi/rusefi/wiki/OEM-Docs/VAG/2005_a4_1.8t_3.png

[2021-03-09 00:23] rusefillc commented on #1
Damn it's 4.2 :(

See https://rusefi.com/forum/viewtopic.php?p=40079#p40079

[2021-03-12 05:58] andreika-git opened #8 "This board uses module rotation"
We need to implement module rotation in Hellen-One scripts in order to produce this board.
See https://github.com/andreika-git/hellen-one/issues/16

[2021-03-15 18:08] rusefillc opened #9 "hellen121vag rev A roadmap"
What would need to happen for us to publish hellen121vag gerbers?

[2021-03-15 19:05] andreika-git commented on #6
https://github.com/rusefi/hellen121vag/commit/cd78d0fa505bc3e7b62623ec443de8ae01c3f1a7

[2021-04-10 20:20] rusefillc opened #10 "Usability: silk, LEDs, test pads"

[2021-04-10 20:22] rusefillc opened #11 "inputs rework"
replace custom inputs with dinput4

[2021-04-10 20:23] rusefillc opened #12 "Proto areas"
Some wires, some non-connected

[2021-04-11 02:23] rusefillc opened #13 "More numbers on back side connector silkscreen"
![image](https://user-images.githubusercontent.com/48498823/114290141-58532200-9a4b-11eb-9aac-1b528ce4bb6e.png)

[2021-04-11 20:26] #6 closed

[2021-04-11 20:27] rusefillc commented on #8
This was fixed by https://github.com/andreika-git/hellen-one/issues/16

[2021-04-11 20:27] #8 closed

[2021-04-11 23:16] rusefillc opened #14 "power5/0.2 not 0.1"

[2021-04-11 23:47] rusefillc opened #15 "main connector would so much more readable if not at 90 degrees"
at the moment on the schematics main connectors forces me to tilt my head to read pins, that's not comfortable

please turn main connector on schematics so that pins read normal horisonal

[2021-04-13 19:16] Qwerty-OFF commented on #11
Done

[2021-04-13 19:16] #11 closed

[2021-04-13 19:17] Qwerty-OFF commented on #12
Done

[2021-04-13 19:17] #12 closed

[2021-04-13 19:41] Qwerty-OFF commented on #13
Done

[2021-04-13 19:41] #13 closed

[2021-04-14 18:26] rusefillc opened #16 "need larger more trustworthy ETB driver"
See https://github.com/andreika-git/hellen-one/issues/28

[2021-04-14 18:30] rusefillc commented on #16
That's about
![image](https://user-images.githubusercontent.com/48498823/114761001-fa198e00-9d2d-11eb-8fdb-df403e1f8594.png)

Please rename network names

[2021-04-16 17:34] Qwerty-OFF commented on #14
Done

[2021-04-16 17:34] #14 closed

[2021-04-16 17:44] Qwerty-OFF commented on #15
Done

[2021-04-16 17:44] #15 closed

[2021-04-16 18:24] rusefillc commented on #16
Let's go with L6205

[2021-04-17 15:31] Qwerty-OFF commented on #16
Done

[2021-04-17 15:31] #16 closed

[2021-04-17 16:08] rusefillc opened #17 "backup onboard power"
is there a better way than our current huge battery holder with the risk of battery flying around inside the ECU?

[2021-04-21 14:04] rusefillc opened #18 "knock audio jack"
We need knock module and audio jack on 121vag if we can fit it

[2021-04-23 18:55] rusefillc opened #19 "Add baro sensor"

[2021-04-23 19:35] rusefillc commented on #19
Relates to https://github.com/rusefi/rusefi/issues/2288

[2021-04-24 15:20] rusefillc opened #20 "WBO SWD header"
WBO SWD header

[2021-04-24 15:21] rusefillc commented on #20
relates to https://github.com/andreika-git/hellen-one/issues/32

[2021-04-24 17:09] Qwerty-OFF commented on #20
Done

[2021-04-24 17:09] #20 closed

[2021-04-24 17:09] Qwerty-OFF commented on #19
Done

[2021-04-24 17:09] #19 closed

[2021-04-24 17:10] Qwerty-OFF commented on #17
Placed cr2032 battery holder

[2021-04-24 17:10] #17 closed

[2021-04-25 16:15] Qwerty-OFF commented on #18
Done

[2021-04-25 16:15] #18 closed

[2021-04-25 16:20] rusefillc commented on #10
@Qwerty-OFF what can we and what can we not do here? can we have GND test pad on the back? etc

[2021-04-27 03:43] rusefillc commented on #10
Looks good

[2021-04-27 03:43] #10 closed

[2021-04-30 21:07] rusefillc opened #21 "3v 5v LED resistor values"
see https://github.com/rusefi/hellen64_miataNA6_94/issues/32

see https://github.com/andreika-git/hellen-one/issues/30

[2021-05-01 02:05] rusefillc opened #22 "schematics usability"
can we please get to 64 level of amazing?

[2021-05-01 10:20] Qwerty-OFF commented on #7
Done

[2021-05-01 10:20] #7 closed

[2021-05-01 10:20] Qwerty-OFF commented on #21
Done

[2021-05-01 10:20] #21 closed

[2021-05-01 13:25] rusefillc opened #23 "notes area"
white notes area

could be on the back

[2021-05-01 13:29] rusefillc commented on #22
my bad - after update it looks great

![image](https://user-images.githubusercontent.com/48498823/116783985-bc23a600-aa5f-11eb-9534-e38f1a782154.png)

[2021-05-01 13:29] #22 closed

[2021-05-01 18:49] Qwerty-OFF commented on #23
Done

[2021-05-01 18:49] #23 closed

[2021-05-01 20:03] rusefillc opened #24 "Test order attempt"
U103 | AP2331W-7 | SC59 | Diodes Incorporated AP2331W-7Extended PartSC-59C460346 | 1 | $0.1329 | Inventory shortage
-- | -- | -- | -- | -- | -- | --

Q300,Q301,Q302,Q303,Q304 | AO3401A | SOT-23 | No part selected
-- | -- | -- | --

U430,U430_2 | TJA1051T/3/1J | SO8 | No part selected
-- | -- | -- | --

[2021-05-01 20:21] rusefillc commented on #24
AO3401A -> C347476
TJA1051T -> C92211

[2021-05-01 20:28] Qwerty-OFF commented on #24
Fixed:

we use a diode because we did not find a replacement for AP2113 on JLC

[2021-05-01 20:28] #24 closed

[2021-05-02 22:04] rusefillc commented on #9
Sent to fab

known issues: WBO firmware needs 4.2 mode https://github.com/mck1117/wideband/issues/7

[2021-05-02 22:06] rusefillc opened #25 "Cam and crank sniffing vias"
As of today we do not have super reliable way to record digital trigger inputs. For right now the best way to troubleshoot anything related to trigger would be hooking up an external logic ananlyzer device between cam/crank signal conditioning and MCU.

We need a via on both cam and crank MCU traces to allow soldering of a pin for external logic analyzer.

[2021-05-02 22:09] rusefillc opened #26 "connector yaml mapping file"
Need help entering data into https://github.com/rusefi/rusefi/blob/master/firmware/config/boards/hellen/hellen121vag/connectors/main.yaml so that generated https://rusefi.com/docs/pinouts/hellen/hellen121vag/ has the pinout info

For reference see https://rusefi.com/docs/pinouts/hellen/hellen64_miataNA6_94/ and https://rusefi.com/docs/pinouts/hellen/hellen72/ created based on https://github.com/ru

[2021-05-06 18:20] rusefillc opened #27 "diode for vvt and idle outputs"
See https://github.com/andreika-git/hellen-one/issues/40

[2021-05-06 18:25] andreika-git commented on #27
Hellen121vag has 2 vvts. and both don't use external mosfets at all, not to speak of diodes.
The first one uses 1A double ls-outputs, the second one uses "middle-power" solenoid push-pull drivers.

[2021-05-10 22:13] rusefillc commented on #26
@ksmola see https://github.com/rusefi/rusefi/wiki/Connector-Mapping

[2021-05-11 04:02] mck1117 opened #28 "connect 12v LED to 12v raw instead of 12v"
![image](https://user-images.githubusercontent.com/568254/117756420-fa913180-b1d2-11eb-9913-5852631d8b01.png)

[2021-05-11 04:02] mck1117 commented on #28
the manifestation is that the 12v LED is on while powered from USB

[2021-05-12 02:38] rusefillc opened #29 "Add word "BARO" next on schematics"
![image](https://user-images.githubusercontent.com/48498823/117910276-a60cb580-b2a9-11eb-8d9c-99ea2d9b591f.png)

See #19

[2021-05-12 02:42] rusefillc commented on #29
![image](https://user-images.githubusercontent.com/48498823/117910546-1d424980-b2aa-11eb-868d-84d598ecf87b.png)

[2021-05-12 02:48] mck1117 commented on #29
those pullup resistors can/should be smaller too - proteus uses 2.2k instead of "standard" i2c 4.7k

[2021-05-13 03:45] rusefillc commented on #26
See also https://github.com/rusefi/rusefi/issues/2385

[2021-05-13 03:49] rusefillc commented on #26
121vag user documentation and schematics

https://github.com/rusefi/rusefi/wiki/Hellen121VAG

[2021-05-19 06:13] rusefillc opened #30 "Put mission statement right on the board silkscreen"
Back side silk:

"Always looking for C/C++/PHP/Java developers
https://rusefi.com/s/mission"

[2021-05-19 06:19] rusefillc opened #31 "Second WBO module"
that's a v6 engine with two exhaust pipes, second WBO would be pretty nice

[2021-05-19 06:19] rusefillc commented on #31
Wrong tracker sorry

[2021-05-19 06:19] #31 closed

[2021-05-20 23:33] mck1117 opened #32 "less crazy routing for ignition outputs"
maybe put ignition driver module closer to output pins, instead of routing the ignition output signals half way around the board like this:

![image](https://user-images.githubusercontent.com/568254/119061356-0924d900-b989-11eb-8b67-2ac5bfa044de.png)

[2021-05-20 23:36] rusefillc commented on #32
Maybe time to 4 layer?

[2021-05-20 23:38] mck1117 commented on #32
I mean move the module.  The routing is fine, I'd just rather not have "outside world" signals making a huge loop area.  Much better to locate the potentially noisy drivers close to the plug, instead of clear across the board.

[2021-05-21 21:59] rusefillc commented on #26
And we are done!

[2021-05-21 21:59] #26 closed

[2021-05-28 16:16] rusefillc opened #33 "[safety] Add pulldown to L6205 enable line"
Add a pulldown resistor to L6205 enable. If the STM32 pin floats (reset, programming, during init, etc), the ETB driver must be disabled.

Also, remove R47. No need for a series resistor.

![image](https://user-images.githubusercontent.com/48498823/120013260-861a0900-bfae-11eb-8150-4652a990d0e8.png)

[2021-06-03 18:09] rusefillc opened #34 "How come I do not see SD card on the photo?!"
Is it because this board does not have it?!

[2021-06-03 21:07] rusefillc opened #35 "Document R2 R3 R8 R9"
Please document https://github.com/rusefi/rusefi/wiki/Hellen121VAG#vehicle-specific-jumpers since we had a bit of first turn-on drama

[2021-06-04 16:33] rusefillc commented on #35
@Qwerty-OFF please review https://github.com/rusefi/rusefi/wiki/Hellen121VAG#vehicle-specific-jumpers

[2021-06-04 16:34] rusefillc opened #36 "Safer BOM"
RE: #35

looks like BOTH R2 and R3 should be DNP? looks like R8 should be DNP while R9 could be populated for now?

[2021-06-05 10:54] rusefillc opened #37 "Please add words"
![image](https://user-images.githubusercontent.com/48498823/120889339-93e11700-c5ca-11eb-8779-e2f445a85b43.png)

PUMP -> Fuel Pump Relay
MAIN -> Main Relay
CE -> Radiator Fan
OUT_CE -> OUT_RADIATOR_FAN

Open question if we need a unified language for many Hellen or if we shall use the naming convention of the specific vehicle or both

[2021-06-05 11:42] rusefillc opened #38 "Main Relay Output confusion episode #1"
R2 wires main relay output to pin 21
R3 wires main relay output to pin 23

Pavel X-Service complaints that pin 21 is low regardless of ECU running or not.

https://github.com/rusefi/rusefi/wiki/Hellen121VAG#vehicle-specific-jumpers

[2021-06-05 13:19] rusefillc commented on #37
@andreika-git says that CE is check engine

[2021-06-05 20:12] Qwerty-OFF commented on #25
![image](https://user-images.githubusercontent.com/4116383/120904179-71dfa700-c653-11eb-9f67-389350976d80.png)

[2021-06-05 20:12] #25 closed

[2021-06-05 20:15] Qwerty-OFF commented on #27
![image](https://user-images.githubusercontent.com/4116383/120904238-e0246980-c653-11eb-8afa-686998e1365c.png)

[2021-06-05 20:15] #27 closed

[2021-06-05 20:19] Qwerty-OFF commented on #28
![image](https://user-images.githubusercontent.com/4116383/120904352-88d2c900-c654-11eb-8e32-17fb42bc2d72.png)

[2021-06-05 20:19] #28 closed

[2021-06-05 20:44] Qwerty-OFF commented on #33
![image](https://user-images.githubusercontent.com/4116383/120905010-f46a6580-c657-11eb-9b11-e776aa5ef55c.png)

[2021-06-05 20:44] #33 closed

[2021-06-05 20:46] Qwerty-OFF commented on #34
Added in revision b
![image](https://user-images.githubusercontent.com/4116383/120905049-25e33100-c658-11eb-845a-88b5564dd48b.png)

[2021-06-05 20:46] #34 closed

[2021-06-05 20:49] Qwerty-OFF commented on #35
Looks nice
In revision b, dangerous jumpers have been removed from the BOM
![image](https://user-images.githubusercontent.com/4116383/120905136-b3268580-c658-11eb-89ba-1d2cc420a32c.png)

[2021-06-05 20:49] #35 closed

[2021-06-05 20:50] Qwerty-OFF commented on #36
![image](https://user-images.githubusercontent.com/4116383/120905144-c33e6500-c658-11eb-85fd-463587f77874.png)

[2021-06-05 21:05] Qwerty-OFF commented on #37
![image](https://user-images.githubusercontent.com/4116383/120905466-e36f2380-c65a-11eb-8c86-07b63716961a.png)

[2021-06-05 21:05] #37 closed

[2021-06-08 17:22] rusefillc opened #39 "Remove Q313 from rev A pieces"
From power supply of all five boards we need to remove Q301 same as

![image](https://user-images.githubusercontent.com/48498823/121229897-893db080-c85c-11eb-99b6-2e93bd5b8374.png)

@kon please mod your board

[2021-06-08 17:22] rusefillc commented on #39
@mck1117 please mod the board in your possession

[2021-06-08 18:17] rusefillc opened #40 "Document F1/F2"
F1/F2 seems to be similar to R2 R3 R8 R9

I think we shall document R2/R3/R8/R9 meaning with a bit of text right on PCB?

[2021-06-08 18:20] rusefillc commented on #40
also open question of we can put any relevant text right on the PCB or not even bother?

@Qwerty-OFF maybe F1 can say "from 121" and F2 can say "from blah blah" etc? R2 could say "MR to 21"?

[2021-06-08 18:21] rusefillc opened #41 "TPS calibration drama"
is it about op-amp PNs?

Matthew Kennedy  1:27 PM
You've been struck by the woes of the LMV324

1:27
This is why we need MCP6004

Matthew Kennedy  1:35 PM
which is...unfortunate
1:35
it means ETB probably won't work without replacing those opamps

[2021-06-08 18:23] mck1117 commented on #41
see https://github.com/andreika-git/hellen-one/issues/27 and https://github.com/andreika-git/hellen-one/issues/63

I ran in to exactly the same problem when using a Proteus with LMV324 on my car.  Replaced with MCP6004, problem solved.

[2021-06-08 20:24] mck1117 opened #42 "WBO VN1160 not acceptable"
VN1160 doesn't work. I don't know why this chip was chosen.

[2021-06-08 23:26] rusefillc opened #43 "CLT and IAT should be pulled up not down"

[2021-06-09 06:46] rusefillc commented on #43
@mck1117 @kon please mod the board you have

![image](https://user-images.githubusercontent.com/48498823/121306460-dbb6b580-c8cc-11eb-93d1-c0b52f26bf38.png)

[2021-06-09 07:25] mck1117 commented on #43
done

[2021-06-09 07:25] mck1117 commented on #39
done

[2021-06-09 08:39] andreika-git commented on #40
First attempt to add F1/F2 jumpers to the H121vag wiki page:
![image](https://user-images.githubusercontent.com/15104768/121322098-57d5eb00-c917-11eb-9f06-bbfadb1ed1ee.png)

[2021-06-09 11:38] rusefillc commented on #41
Less rail to rail comparing with 6004

[2021-06-09 17:10] mck1117 commented on #41
@dron0gus LMV324 Output swing only goes from 0.05 to 4.45 volts.  MCP6004 output swing goes from 0.002 to 4.985 volts.

[2021-06-09 19:23] Qwerty-OFF commented on #43
![image](https://user-images.githubusercontent.com/4116383/121416276-49b4b880-c971-11eb-8a76-a5fff710bb41.png)

[2021-06-09 19:24] Qwerty-OFF commented on #42
https://github.com/rusefi/hellen64_miataNA6_94/issues/54#issuecomment-857916625

[2021-06-09 19:34] Qwerty-OFF commented on #40
We can do something like this if we need and have enogh space on the board
![image](https://user-images.githubusercontent.com/4116383/121417533-af557480-c972-11eb-95bc-8ba572abb0b6.png)

[2021-06-10 07:46] rusefillc commented on #43
@andreika-git can you please validate? is there an MCU module pull-up we are supposed to populate or do we just use external resistor?

[2021-06-10 08:27] rusefillc commented on #42
Dron_Gus  5:57 AM
@Matthew Kennedy can I replace smart mosfet in WBO with simple N-channel mosfet?
5:57
like IPD079N06 or STD25NF10

Matthew Kennedy  1:08 PM
I think it would work, but you get no protection against short circuit or anything

[2021-06-10 08:28] rusefillc commented on #42
@mck1117 can you please remove wrong part from your hellen?
@mck1117 do you have a part to install on your hellen 121?

@kon please also at least remove the mosfet to reduce confusion

[2021-06-10 08:45] mck1117 commented on #42
Yes, I have a handful of leftover VNS14NV04 from another project, and already swapped one while diagnosing the problem.

BTW: that's the low side driver from Frankenso, if you have a bunch of those sitting around.

[2021-06-10 09:59] andreika-git commented on #43
Ok, here's the full story behind CLT/IAT pullups:

1) We do have the built-in configurable pullup/pulldown resistors for CLT/IAT in the input module. But their value is 4.7k (because it's an average "common good" value for 4 different inputs)

2) Most of the sensors work with 4.7k pullups (or pulldowns) just fine, but some users may still consider this as a limitation of the input module and may w

[2021-06-10 10:25] dron0gus commented on #41
@mck1117 thanks.
I'm using -0.6V and +5.5V to power OpAmps on my custom board. Looks like this saved me some time debuging similar issues.

[2021-06-10 17:17] mck1117 commented on #43
Another factor is that the resistor arrays are pretty inaccurate, and the pullup accuracy really only matters for temperature sensors.

[2021-06-11 11:24] #41 closed

[2021-06-11 11:25] rusefillc commented on #40
Looks great!

[2021-06-11 11:25] #40 closed

[2021-06-11 11:26] rusefillc commented on #30
https://github.com/rusefi/hellen154vag-9.1/issues/7

[2021-06-11 16:16] rusefillc opened #44 "pin14 ego input channel"
external WBO/EGO analog signal

Is not possible to set in setting in tuner studio

[2021-06-11 16:22] rusefillc commented on #44
Long term fix https://github.com/rusefi/rusefi/issues/2810

[2021-06-11 16:29] rusefillc commented on #44
Looks fixed, ETA 20 minutes to build bundle

[2021-06-11 16:29] #44 closed

[2021-06-13 14:29] #43 closed

[2021-06-13 14:29] rusefillc commented on #42
@Qwerty-OFF please close once we make BOM change

[2021-06-13 14:35] #38 closed

[2021-06-13 14:44] rusefillc commented on #1
@mck1117 any chance to have https://github.com/mck1117/wideband/issues/7 ?

if not we should add an un-populated jumper to make the board safer on arrival

[2021-06-13 14:44] #9 closed

[2021-06-13 19:21] #42 closed

[2021-06-13 19:22] Qwerty-OFF commented on #39
Fixed in output-0.2

[2021-06-13 19:23] Qwerty-OFF commented on #30
![image](https://user-images.githubusercontent.com/4116383/121819488-09697900-cc96-11eb-95d2-53f01219df5e.png)

[2021-06-13 19:23] #30 closed

[2021-06-14 06:08] mck1117 opened #45 "Better match injector traces"
Some injector traces have much higher resistance than others.

1-6 aren't perfect, but they're reasonably matched:
Inj 1: 96mOhm
Inj 2: 96mOhm
Inj 3: 71mOhm
Inj 4: 92mOhm
Inj 5: 77mOhm
Inj 6: 67mOhm

But 7 and 8 are much higher:
Inj 7: 135mOhm
Inj 8: 148mOhm

[2021-06-14 17:57] rusefillc opened #46 "Trying to fab rev B"
less expected
![image](https://user-images.githubusercontent.com/48498823/121937109-568e2f00-cd18-11eb-9444-b8c4eacd28d2.png)

expected
![image](https://user-images.githubusercontent.com/48498823/121937147-5ee66a00-cd18-11eb-9ccf-c8c31cbbbf83.png)

[2021-06-14 17:58] mck1117 commented on #46
bts3028 is expected, that's the wbo mosfet that I was already going to get

[2021-06-14 20:44] mck1117 commented on #32
poke?

[2021-06-14 20:54] rusefillc commented on #46
![image](https://user-images.githubusercontent.com/48498823/121958053-34ed7180-cd31-11eb-80e0-3b6aed5b1c97.png)

[2021-06-14 20:56] rusefillc commented on #32
We will have a bigger change with rev C while adding SD card

[2021-06-14 21:33] rusefillc commented on #46
^^^ my bad, sorry

[2021-06-14 21:35] #46 closed

[2021-06-15 20:45] rusefillc commented on #1
Status update: we know 4.2 pinout but we do not have 4.2 firmware

[2021-06-29 03:18] rusefillc opened #47 "H121: CAN stm32 into yaml file"
We have nothing for CAN on 121 vag yaml file

[2021-07-01 00:37] rusefillc opened #48 "Implement & Document trigger HW solder hookup pins"
Same as hellen72 we need logic level MCU signal hook-up vias

Crank hookup point has to be between VR conditioning and MCU

For example same thing on Hellen 72 board:

P9 & P10 on https://github.com/rusefi/rusefi/wiki/Hardware/Hellen/hellen72-d-schematic.pdf

![image](https://user-images.githubusercontent.com/48498823/128474196-8f792ae7-a6f1-41c0-aaae-e3a02d23efe0.png)

![image](https://user-image

[2021-07-01 00:38] rusefillc commented on #48
See https://github.com/rusefi/hellenNA6_issues/issues/10
See https://github.com/rusefi/hellen-NB2-issues/issues/3
See https://github.com/rusefi/hellen121nissan-issues/issues/7

[2021-07-08 16:50] rusefillc opened #49 "rev B was fabbed with LMV324IPWR"
https://github.com/andreika-git/hellen-one/issues/63

[2021-07-08 17:02] rusefillc commented on #49
https://github.com/rusefi/hellen121vag/blob/main/boards/hellen121vag-b/board/hellen121vag-b-BOM.14june2021.csv#L108

[2021-07-08 19:28] rusefillc commented on #49
we need to bump to mcu 0.4

[2021-07-10 14:04] rusefillc opened #50 "Smoke was reported in WA"
somehow I've just released smoke from a chip on VW hellen
it was the ULN2003 nearer to the MCU
U304

[2021-07-10 14:04] rusefillc commented on #50
rev A or rev B?

Any details/ideas? Operator error? Fab quality issue? Act of God?

[2021-07-11 05:31] rusefillc commented on #50
@mck1117 it's about the jumpers :(

See https://github.com/rusefi/hellen121vag/issues/36

@Qwerty-OFF @andreika-git FYI

[2021-07-11 16:11] rusefillc opened #51 "Document jumpers for 2002 Audi Allroad 2.7t apb"
We need to fill in line at https://github.com/rusefi/rusefi/wiki/Hellen121VAG#vehicle-specific-jumpers

https://github.com/rusefi/rusefi/wiki/2002-Allroad

[2021-07-11 16:19] rusefillc opened #52 "Just to clarify - where are we with v8 with dual VVT? document current on pins 115 and 120"
2003 Audi A6 4.2 has 8 injectors and two VVT actuators, do we support that configuration?

I see
pin 115
low side solenoid (OUT_VVT1_2 = LOW9+LOW12)
pin 120
low side solenoid (OUT_VVT2_2 = OUT_COIL_B2)

I wonder how differently would these control the actuators

[2021-07-11 18:05] rusefillc commented on #51
@Qwerty-OFF are you sure we remove BOTH R2 AND R3? please confirm

[2021-07-11 18:50] rusefillc commented on #51
@Qwerty-OFF has confirmed that both R2 and R3 are simply not doing anything on this specific vehicle so safer to remove both

[2021-07-11 18:50] #51 closed

[2021-07-11 19:14] rusefillc opened #53 "Just to clarify - is this board compatible with 2010 TT?"
Are we or are we not compatible with https://github.com/rusefi/rusefi/wiki/2010-Audi-TT ?

[2021-07-12 18:54] Qwerty-OFF commented on #53
Not compatible

[2021-07-30 02:14] rusefillc commented on #48
https://github.com/rusefi/hellen154hyundai-issues/issues/5

[2021-08-01 16:43] rusefillc opened #54 "Do we really need both channels of L6205 to safely drive ETB?"
At the moment we have both channels wired in parallel

![image](https://user-images.githubusercontent.com/48498823/127778768-e631b14a-0282-49e3-91ab-61812886926a.png)

Is that actually needed?

![image](https://user-images.githubusercontent.com/48498823/127778781-4b6420c9-2b58-4d51-aad2-e380a97949d9.png)

Shall we add 0R jumpers for second channel to experiment?

[2021-08-06 08:45] rusefillc opened #55 "QR code silkscreen"
Put https://github.com/rusefi/rusefi/blob/master/misc/www/s/hellen121vag/qr-hellen121vag.png on PCB silkscreen back side

[2021-08-24 08:07] #53 closed

[2021-08-24 08:16] rusefillc opened #56 "Convert to 4 layer"
between #45 and #32 time for 4 layer

[2021-08-24 16:54] #48 closed

[2021-08-24 17:35] rusefillc opened #58 "How does this work? Feature of bug?"
why is KiCAD complaining about not connect here?

![image](https://user-images.githubusercontent.com/48498823/130663295-edd2916b-8ac5-4609-bd86-00cbe5411e81.png)

[2021-08-24 17:50] rusefillc commented on #32
pictured U460 is the ignition module piece

[2021-08-24 17:52] rusefillc commented on #49
this is about replacing 0.2 with 0.5 every time we reference mcu

![image](https://user-images.githubusercontent.com/48498823/130665414-8cd04037-d00a-42a4-880b-961afa5375b2.png)

[2021-08-24 18:05] rusefillc opened #59 "bump version"
PCB version and board silkscreen version should be bumped from "B" to "C"

[2021-08-24 18:21] andreika-git commented on #58
Kicad doesn't know that those pads indide the input modules are already connected internally. Altium has a "jumper" feature to disable the warning, but Kicad does not.

[2021-08-24 18:25] rusefillc commented on #47
pinout shows CAN pins now https://rusefi.com/docs/pinouts/hellen/hellen121vag/

[2021-08-24 18:25] #47 closed

[2021-08-24 18:40] rusefillc opened #60 "replace VR module with VR-discrete"
remove VR module
add VR-discrete like on https://github.com/rusefi/hellen128mercedes
VR_analog should be connected to ADC3 pin, see hellen128merc

![image](https://user-images.githubusercontent.com/48498823/130671460-56daa0cc-4e41-416f-8998-bd351db78ec6.png)

![image](https://user-images.githubusercontent.com/48498823/130671713-92fdac54-1fa9-4ceb-ae7d-ef21b1923a2a.png)

[2021-08-24 18:45] rusefillc commented on #60
@mck1117 what is current requirement for THRESHOLD_VR? does it have to a low side channel or could it be just an stm32 pin?

https://github.com/andreika-git/hellen-one/wiki/module-output

[2021-08-24 18:50] mck1117 commented on #60
Not true, this will eventually be required for configuration.

It needs a PWM output directly from the MCU, no output module.

[2021-08-24 18:53] rusefillc commented on #60
@mck1117 please elaborate
"analog" vs "configuration"
does it have to be an ADC pin or just any GPIO pin?

[2021-08-24 18:54] rusefillc commented on #60
Some notes added to https://github.com/andreika-git/hellen-one/wiki/module-vr-discrete

[2021-08-24 18:56] mck1117 commented on #60
Analog in to the MCU will let you view the waveform from the sensor in real time, so you can set the threshold. Maybe completely automatic in the future.

The analog input to the MCU needs to be something on ADC3.

[2021-08-24 18:58] rusefillc commented on #60
@mck1117 is there a chance that we are over-engineering here?

[2021-08-24 19:10] mck1117 commented on #60
This would be nice to do, since without the max992x we don't get automagic threshold:

https://www.maxxecu.com/webhelp/settings-diagnostics-trigger_oscilloscope.html

[2021-08-29 07:05] rusefillc opened #61 "VVT diode"
![image](https://user-images.githubusercontent.com/48498823/131241759-09578292-3a22-44de-878c-d59ab7e9276e.png)

@mck1117 suggests a different VVT diode NOT 1N4148WS "that diode is only rated for 150mA"

worth noting that Miata 64 uses 1N4148WS for IAC and VVT
![image](https://user-images.githubusercontent.com/48498823/131241738-9df951c3-9853-4771-885b-042f646c19b0.png)

[2021-08-29 22:32] rusefillc commented on #61
Давай поставим наши любимые B5819W (C8598) 1A rated?

[2021-09-07 19:59] hasl58 commented on #58
![20210907225858](https://user-images.githubusercontent.com/17414812/132403576-d0aaca45-17d7-4954-840b-8f99aba6fbed.jpg)
why pin J1-6 not connect to GND?

[2021-09-07 20:16] rusefillc opened #62 "Connect J1-6 USB cable shield to GND"
J1-6 USB cable shield was not connected to GND due to tracing issues with JLC tolerances.

We should connect J1-6 USB cable shield to GND once we migrate board to 4 layers

[2021-09-07 20:16] rusefillc commented on #58
https://github.com/rusefi/hellen121vag/issues/62

[2021-09-07 20:20] mck1117 commented on #62
...how was this a problem with JLC tolerance?

The recommendation is not shorting the shield to ground.  On proteus it has a 100n + 100k in parallel to ground.

[2021-09-07 20:37] mck1117 commented on #62
ok looks like there are conflicting opinions in the literature about what's best - let's put an 0603 pad for now with a 0 ohm mounted

[2021-09-07 20:46] hasl58 commented on #62
link please show

[2021-09-07 20:52] mck1117 commented on #62
https://electronics.stackexchange.com/a/4519

[2021-09-07 21:43] hasl58 commented on #62
if USB 2.0 and less pin6 to GND
if USB 3.0 and large pin6 from resistor

[2021-09-07 21:45] hasl58 commented on #62
ok. i connect through resistor.

[2021-09-07 22:51] rusefillc commented on #62
@hasl58 what exact lib file would need to be changed? is that some standard library or rusEFI custom library https://github.com/rusefi/kicad-libraries/ ?

if it's https://github.com/rusefi/kicad-libraries/ we would need a pull request into https://github.com/rusefi/kicad-libraries/ - i.e. fork https://github.com/rusefi/kicad-libraries/ and etc same process as PR into this hellen121vag here

[2021-09-08 19:21] #32 closed

[2021-09-08 19:21] #45 closed

[2021-09-08 19:21] #56 closed

[2021-09-08 19:21] #62 closed

[2021-09-08 19:25] rusefillc commented on #59
Once we are done with all changes we need to export gerbers, DRL, BOM, PLC and PDF

https://github.com/andreika-git/hellen-one/wiki/kicad-export-frame

[2021-09-08 19:28] rusefillc commented on #60
@mck1117 can you please pick where to connect VR_analog on hellen121vag?

[2021-09-14 06:27] andreika-git opened #64 "Wrong GND plane fills inside 2-sided modules"
This will short the vias inside the input module:

![image](https://user-images.githubusercontent.com/15104768/133206255-90d3d374-806f-4a82-b8db-2c5426af645c.png)

[2021-09-14 20:47] rusefillc opened #65 "ibom how do I know which one is U106?"
modules do not show silkscreen?

https://rusefi.com/docs/ibom/hellen121vag-b-ibom.html

![image](https://user-images.githubusercontent.com/48498823/133331482-bbe6947d-f051-4d4d-9a04-ced9f3583306.png)

[2021-09-14 20:48] rusefillc commented on #65
well I found a way

![image](https://user-images.githubusercontent.com/48498823/133331549-c041b6df-1b88-479b-940c-62526bfef6fb.png)

but still - do we have a defect of frame silk showing but not module silk?

[2021-09-15 00:45] rusefillc commented on #60
![image](https://user-images.githubusercontent.com/48498823/133352343-57412c96-56ba-4464-a665-e8821c7095ac.png)

[2021-09-15 00:50] rusefillc opened #66 "vias for more GPIO"
any chance to add a VIA for unused

![image](https://user-images.githubusercontent.com/48498823/133352667-b5e1437a-3728-4e8f-a19c-81cc09b70288.png)

[2021-09-15 00:50] rusefillc commented on #66
just a bit related to #60

[2021-09-19 13:20] rusefillc commented on #55
See also https://github.com/rusefi/hellen154hyundai/issues/24

[2021-09-19 13:20] rusefillc commented on #55
https://github.com/rusefi/hellen88bmw/issues/72

[2021-09-19 13:21] rusefillc commented on #55
https://github.com/rusefi/hellen128merc-issues/issues/28

[2021-09-22 19:35] rusefillc commented on #60
Looks like depends/related to #49

[2021-09-22 19:36] rusefillc commented on #60
Since we are removing old VR there is no need in input/output jumpers

[2021-09-22 20:34] rusefillc commented on #60
VR_THRESHOLD could use any of the GPIO unused pins

E23 E11 etc

[2021-09-22 21:11] mck1117 commented on #60
No, VR_THRESHOLD needs a hardware PWM pin from the STM32.  It's in theory possible with soft PWM, but faster hardware PWM does make a big difference there.

[2021-09-22 21:13] rusefillc commented on #60
ok, on this board we can move idle

[2021-09-29 23:18] rusefillc opened #68 "migrate to WBO 0.3"
this 121 board now references latest Hellen

We can migrate to WBO 0.3 but technically not required yet

[2021-10-01 16:20] #59 closed

[2021-10-01 16:20] #60 closed

[2021-10-01 16:20] rusefillc commented on #61
@hasl58 what's the status of this one?

[2021-10-01 16:21] #39 closed

[2021-10-01 16:21] #64 closed

[2021-10-01 16:21] rusefillc opened #69 "SD card"

[2021-10-01 16:22] rusefillc opened #70 "Accelerometer"
no JLC stock so low priority

[2021-10-01 16:23] rusefillc opened #71 "Silk under module under copper"
![image](https://user-images.githubusercontent.com/48498823/135654858-9f3193f1-63db-452e-90fb-68649867e9b9.png)

Are there more cases of question silk?

[2021-10-01 16:26] rusefillc opened #72 "DRC warnings"
Please consider changing rules, adding exceptions or actually fixing issues since some of DRC checks are totally legit problems

[2021-10-01 16:34] rusefillc commented on #68
See https://github.com/andreika-git/hellen-one/blob/master/modules/wbo/changelog.md for migration notes "remove one track and refill"

[2021-10-01 16:35] rusefillc commented on #66
@hasl58 please see if any more GPIO could be added as via with little effort

[2021-10-01 16:50] rusefillc commented on #61
@hasl58 looks like B5819W (C8598) is already used on this board in different spots https://github.com/rusefi/hellen121vag/blob/main/boards/hellen121vag-b/board/hellen121vag-b-BOM.14june2021.csv

[2021-10-04 18:18] rusefillc commented on #68
Let's NOT do this yet to reduce risks and effort

[2021-10-09 00:56] rusefillc commented on #72
@Qwerty-OFF please review

[2021-10-09 00:56] rusefillc commented on #71
@Qwerty-OFF please review

[2021-10-09 00:57] rusefillc commented on #61
@Qwerty-OFF please review

[2021-10-11 18:24] rusefillc opened #74 "ETB simplify manual soldering"
@Qwerty-OFF can we move C1 and C2 1mm away from huge chip to simplify hand-soldering, as long as trivial level of effort?

![image](https://user-images.githubusercontent.com/48498823/136836814-1fc16866-04cc-4351-84e6-7e6c5c7952a9.png)

[2021-10-11 18:31] hasl58 commented on #74
may be one tantal capasitor 100uF

[2021-10-11 18:31] hasl58 commented on #74
and one 100nF

[2021-10-11 18:34] hasl58 commented on #74
![20211011213325](https://user-images.githubusercontent.com/17414812/136837916-f2434b0b-3dcc-4e54-897c-095a2e1a9164.jpg)

or so

[2021-10-11 19:16] #74 closed, assigned to Qwerty-OFF

[2021-10-11 19:23] rusefillc commented on #61
yes please

[2021-10-11 19:32] rusefillc opened #75 "second knock channel"
one day we shall add second knock channel

[2021-10-11 20:50] Qwerty-OFF commented on #71
Fixed

[2021-10-13 01:23] rusefillc opened #76 "[use new ign module?] are 2pcs 0.35mm holes there, shall we delete one?"
![image](https://user-images.githubusercontent.com/48498823/137050621-81d038e3-5a8d-4c75-9331-0579ecdc471d.png)

[2021-10-20 04:01] rusefillc opened #77 "Jumpers table for 2004 3.2"
Please fill in https://github.com/rusefi/rusefi/wiki/Hellen121VAG#vehicle-specific-jumpers for https://github.com/rusefi/rusefi/wiki/2004-Cayenne

[2021-10-31 18:15] Qwerty-OFF commented on #77
Updated
Please check that this is 12V_IGN powered by key
![image](https://user-images.githubusercontent.com/4116383/139596502-412a11e2-2125-4a27-a2c6-769de0cb0167.png)

[2021-10-31 20:04] NMSTEC commented on #77
Confirmed this is IGN/Terminal 15 from kessy to ECU & other modules.
![DIN VAG](https://user-images.githubusercontent.com/45252464/139599519-440a424c-5f6e-4820-8eb4-d938e27b8680.png)

[2021-10-31 20:34] rusefillc opened #78 "Schematics usability: explicit VR_THRESHOLD net name on other end"
let's explicitly label E18 net on this part of schematics

![image](https://user-images.githubusercontent.com/48498823/139600323-698bfb28-12ca-4c3e-a984-3dd8d6db7fff.png)

[2021-10-31 20:35] #77 closed

[2021-11-01 00:09] rusefillc opened #79 "rev C arrived with both F1 and F2"
@Qwerty-OFF @andreika-git do we still have some BOM drama?

[2021-12-04 02:21] rusefillc opened #80 "Migrate to Output-0.3"
See andreika-git/hellen-one#118

[2021-12-04 02:24] rusefillc opened #81 "TLS115D0EJXUMA1 for sensor 5v"
See andreika-git/hellen-one#119

[2021-12-17 04:28] NMSTEC opened #82 "VAG 3.2 Cayenne/Golf-R/Touareg"
Pinouts currently in TS are not only unmatched to this motor, but also cannot select correct options. Stuff I have found:

Crank sensor is hall on Pin 90
Engine stock has no MAP.
IAT is on pin 26
Cayenne has two fuel pumps, one controlled by pin 37 and the other by 65
APP is 34 & 36. In TS I can only select 34 & 35. In 3.2 case, 35 is APP gnd.
VSS is 38. Unable to select that in TS.

Ignition sett

[2021-12-17 15:00] rusefillc opened #83 "VAG 3.2 Cayenne/Golf-R/Touareg pedal position sensor drama"
Current rusEFI has no jumper provisions in this area - note it's GND SIG SIG GNS

![image](https://user-images.githubusercontent.com/48498823/146563711-67e1f871-51b8-48dd-92f3-37ddbf49e825.png)

And we have two wires flipped on https://github.com/rusefi/rusefi_documentation/blob/master/OEM-Docs/VAG/2004-cayenne-3.2-all.pdf

Note SIG GND SIG GND sequence

![image](https://user-images.githubusercont

[2021-12-17 15:05] rusefillc commented on #83
@NMSTEC there is nothing software can do here at the moment. Please either modify wiring harness or modify hellen board

Will add provisions on the board for next revision

[2021-12-17 15:11] rusefillc opened #84 "3.2 6 cylinder CAM/CRANK"
https://github.com/rusefi/rusefi_documentation/blob/master/OEM-Docs/VAG/2004-cayenne-3.2-all.pdf

Does this engine have four camshafts?

Camshaft sensors 1 and 2. Are those VR or Hall? Which of the four cams are those?

![image](https://user-images.githubusercontent.com/48498823/146565487-7da48520-c101-4594-9cc3-6476af31faf6.png)

[2021-12-17 15:22] rusefillc commented on #84
I really hope that diagram is fucked up

at least one typo here - note x1 of "camshaft sensor 1" and x3 of "camshaft sensor 2"

but also two of "engine speed" which does not match sensors

![image](https://user-images.githubusercontent.com/48498823/146566933-ca3df7ef-d926-4e5f-bda7-58135b82f812.png)

[2021-12-17 18:10] NMSTEC commented on #84
Discharge wave, intake wave is CAM, and is Hall.
Camshaft sensor 1 & 2 is solenoid.

It is indeed wrong Labelling. They use google translate from German. Please see my additions in Excel, as I've accounted for the errors.

[2021-12-17 18:11] NMSTEC commented on #84
Also this is not 3.2 V6. This is 3.2 VR6. Only one bank.

[2021-12-17 18:35] rusefillc commented on #84
@NMSTEC for now please wire crank into pin 54 which is VSS in TS at the moment

[2021-12-17 18:41] NMSTEC commented on #84
[3.2 vr6 touareg.pdf](https://github.com/rusefi/hellen121vag/files/7737158/3.2.vr6.touareg.pdf)
Slightly less shit diagram

[2022-02-11 18:55] Mohammed3705 opened #85 "Vag 1.8t clutch pin 39"
When you use the (clutch pin 39) you will get pedal error.

[2022-02-11 19:00] rusefillc commented on #85
@Mohammed3705 please provide much more details

ideally upload bad tune to https://rusefi.com/online/ and please link the tune with bad configuration

please paste screenshot of error message

[2022-06-13 14:08] rusefillc opened #86 "schematics readability"
need "threshold_vr" at "out_pwm6"

![image](https://user-images.githubusercontent.com/48498823/173372195-87a43325-6bd8-48d4-a5b7-cf55c6447fc0.png)

[2022-06-13 15:50] rusefillc commented on #65
this is resolved with latest hellen and docker

[2022-06-13 15:50] #65 closed

[2022-06-13 15:51] rusefillc commented on #80
overall migrate to all latest modules - I can think of IGN as well

[2022-06-13 15:52] rusefillc commented on #86
LOL dup of #78

[2022-06-13 15:52] #86 closed

[2022-10-14 16:29] rusefillc commented on #80
Ign 0.2? Other modules to bump?

[2022-10-14 18:52] Qwerty-OFF commented on #78
Fixed
![image](https://user-images.githubusercontent.com/4116383/195919934-c2daf1df-5d80-4088-9e36-ff0b4a5ddc5a.png)

[2022-10-14 18:52] #78 closed

[2022-10-14 18:53] Qwerty-OFF commented on #80
All modules updated

[2022-10-14 18:53] #80 closed

[2022-10-14 19:03] Qwerty-OFF commented on #81
Done

[2022-10-14 19:03] #81 closed

[2022-10-14 21:25] rusefillc opened #87 "SD card"
can we add SD card?

back side of the PCB is totally fine same as 4chan

[2022-10-14 21:26] rusefillc commented on #85
closing since no response :(

[2022-10-14 21:26] #85 closed

[2022-10-14 21:26] rusefillc commented on #87
Dup

[2022-10-14 21:26] #87 closed

[2022-10-14 21:27] rusefillc commented on #76
this is about using new ign module, please close is just updated

[2022-10-14 21:28] rusefillc commented on #68
Wonder what was risky here, is it a direct drop it with zero copper changes?

[2022-10-14 21:29] rusefillc commented on #1
@mck1117 @dron0gus where shall we place what unpopulated jumper to make the board safer while no 4.2 firmware?

[2022-10-14 21:31] rusefillc commented on #54
We've since learned that YES, we need both channels

@Qwerty-OFF please close if current board still uses both channels, no need to swap into TLE9201 yet

[2022-10-17 18:33] mck1117 commented on #1
do we need to? the existing controller hw+sw will not hurt a 4.2 sensor, it just won't work

[2022-10-18 17:44] rusefillc opened #88 "IMPORTANT MCU 0.7 is still work in progress"
Reminder that we shall either use MCU 0.6 or wait for MCU 0.7 release

[2022-10-23 16:30] rusefillc commented on #88
Status update: https://github.com/andreika-git/hellen-one/issues/171 at least PCB part of the change is done

@Qwerty-OFF can you please update to latest hellen and give 0.7 MCU a try (176 package on this 121vag right?)